{% extends "./base.html" %}
{% block head %}
{% load static %}
<script src="{% static 'orders/js/address_three.js' %}"></script>
{% endblock %}
{% block content %}
    <section class="content-header">
      <h1>
        新增用户
        <small>User panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="./index"><i class="fa fa-dashboard"></i>总览</a></li>
        <li class="active">用户管理</li>
        <li class="active">新增用户</li>
      </ol>
    </section>

    <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">新增用户</h3>
          </div>
          <form class="form-horizontal" action="" method="post">
            {% csrf_token %}
            
            <div class="box-body">
              <div class="form-group">
                <label  for="user_name" class="col-sm-1 control-label">姓名:</label>
                <div class="col-sm-5">
                  {{ form.user_name }}
                </div>
                <label for="user_email" class="col-sm-1 control-label">Email:</label>
                <div class="col-sm-5">
                  {{ form.user_email }}
                  <div class="text-red">{{ errors.user_email }}</div>
                </div>
              </div>
              <div class="form-group">
                <label for="user_phone" class="col-sm-1 control-label">手机:</label>
                <div class="col-sm-5">
                  {{ form.user_phone }}
                </div>
                <label for="user_qq" class="col-sm-1 control-label">QQ:</label>
                <div class="col-sm-5">
                  {{ form.user_qq }}
                </div>                
              </div>
              <div class="form-group">
                <label for="user_weixin" class="col-sm-1 control-label">微信:</label>
                <div class="col-sm-5">
                  {{ form.user_weixin }}
                </div>
                <label for="user_taobao" class="col-sm-1 control-label">淘宝:</label>
                <div class="col-sm-5">
                  {{ form.user_taobao }}
                </div>                
              </div>
              <div class="form-group">
                <label for="user_weibo" class="col-sm-1 control-label">微博:</label>
                <div class="col-sm-5">
                  {{ form.user_weibo }}
                </div>              
              </div>
            </div>
            <div class="box-body">
              <div class="form-group">
                <label  class="col-sm-1 control-label">所在地区:</label>
                <div class="col-sm-2">
                  <select id="cmbClass" name="address_area"></select>
                </div>
                <label  class="col-sm-1 control-label">省/州:</label>
                <div class="col-sm-2">
                  <select  id="cmbProvince" name="address_province"></select>
                </div>
                <label  class="col-sm-1 control-label">城市:</label>
                <div class="col-sm-2">
                  <select  id="cmbCity" name="address_city"></select>
                </div>
                <label  class="col-sm-1 control-label">县区:</label>
                <div class="col-sm-2">
                  <select  id="cmbArea" name="address_class"></select>
                </div>
              </div>
              <div class="form-group">                                
                <label  class="col-sm-1 control-label">详细地址：</label>
                <div class="col-sm-10">
                  <textarea id="cmbfull" name="address_full" class="form-control" rows="2"></textarea>
                </div>
                <script type="text/javascript">

                addressInit('cmbClass','cmbProvince','cmbCity','cmbArea');
                </script>          
              </div>  
            </div>

            <div class="box-footer">
            <button type="submit" class="btn btn-info center-block" value="OK">提交</button>
            </div>
          </form>          
        </div>
      </div>
    </div>
    </section>
{% endblock %}